{% extends "base.html" %}

{% block main %}
<main>
    <h1>Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>

                </tr>
            </thead>
            <tbody>
                {% for expense in expenses%}
                <tr>
                    <td>
                        {{expense.name}}
                    </td>
                    <td>
                        {{expense.receipts.all|length}}
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
</main>
{% endblock main %}
